.experiencia {
  max-width: 1200px;
  padding: 40px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  gap: 10px 20px;
}

.projeto-ano {
  position: absolute;
  top: 20px;
  left: -60px;
  color: #525252;
  font-size: 0.875rem;
}

.projeto::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(#fad638, #e3bc10);
  border-radius: 1px;
  top: 20px;
  left: -5px;
}

.projeto-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-titulo a {
  display: flex;
  gap: 4px;
  text-decoration: none;
  color: #000;
}

.projeto-titulo a::after {
  content: "🡽";
  display: inline-block;
  width: 20px;
  height: 20px;
}

.projeto-titulo a:hover {
  transform: translateX(12px);
  color: #525252;
  transition: 300ms ease-in-out;
}

.projeto-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-habilidades li {
  font-size: 0.857rem;
  line-height: 1.4;
  border-radius: 5px;
  background: #fff;
  padding: 5px 10px;
}

.projeto-habilidades .link {
  background: #525252;
}

.projeto-habilidades .link:hover {
  background: #141414;
  transition: 0.3s ease-in-out;
}

.projeto-habilidades .link a {
  text-decoration: none;
  display: flex;
  gap: 4px;
  color: #fff;
}

.projeto-habilidades .link img {
  width: 12px;
}

@media (max-width: 1025px) {
  .experiencia {
    gap: 100px;
  }
  .experiencia .subtitulo {
    font-size: 6rem;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #525252;
    word-break: keep-all;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .experiencia-texto {
    font-size: 1.2rem;
  }
  .projeto-ano {
    position: initial;
    order: 1;
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  .projeto {
    grid-template-columns: 1fr;
  }
}
